.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: max-content;
  background-image: url("./../../public/images/bg-gray.jpg");
  height: 100%;
  background-attachment: local;
  width: 100vw;
}

.test {
  box-shadow: 2px 2px 2px #fff;
}
